<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>74214128356-330emivc6d5mvk9egu2qhvqjp2ani1ko.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.74214128356-330emivc6d5mvk9egu2qhvqjp2ani1ko</string>
	<key>API_KEY</key>
	<string>AIzaSyDhq9bYsczyk1hkzswUtYEH1LppHgX5Nms</string>
	<key>GCM_SENDER_ID</key>
	<string>74214128356</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rkentro</string>
	<key>PROJECT_ID</key>
	<string>mind-app-fce8d</string>
	<key>STORAGE_BUCKET</key>
	<string>mind-app-fce8d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:74214128356:ios:bc745f5487160a61accaf1</string>
</dict>
</plist>